/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
/* @import url('https://fonts.cdnfonts.com/css/ibm-plex-sans'); */

@font-face{
    font-family:ibm plex sans;
    font-style:normal;
    font-weight: 400;
    src:url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face{
    font-family:ibm plex sans;
    font-style:normal;
    font-weight: 600;
    src:url(../fonts/IBMPlexSans-SemiBold.ttf);
}

@font-face{
    font-family:ibm plex sans;
    font-style:normal;
    font-weight: 700;
    src:url(../fonts/IBMPlexSans-Bold.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .filter-transition {
        transition: transform 0.7s, color 0.3s;
    }

    .center-absolute {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}