@font-face{
    font-family:ibm plex sans;
    font-style:normal;
    font-weight: 400;
    src:url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face{
    font-family:ibm plex sans;
    font-style:normal;
    font-weight: 600;
    src:url(../fonts/IBMPlexSans-SemiBold.ttf);
}

@font-face{
    font-family:ibm plex sans;
    font-style:normal;
    font-weight: 700;
    src:url(../fonts/IBMPlexSans-Bold.ttf);
}